.btn-login {
  background-color: #5f2eea !important;
  color: white !important;
  width: 120px;
}

#navbar {
  background-color: white;
  /* font-family: "Mulish"; */
}

#navbar-home #navbar {
  position: fixed;
}

#navbar-home #navbar .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar-home #navbar .nav-item .nav-link {
  font-weight: 600;
}

/* css for mobile */
@media (max-width: 768px) {
  #navbar .img-icon-navbar {
    width: 100px;
  }
}
